@import '../../../../styles.scss';

.form-login{
display: flex;
flex-direction: column;
align-items: center;

  .form-login__logo{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    
  }



  .form-login__logo, .form-login__title{
    margin-top: 20px;
  }

.form-login__group{
  position: relative;
  color: #5757577e;

}


.form-login__control{
  width: 100%;
  

}

.form-login__label{
  

}



}