<form class="form-login">

  <img class="form-login__logo" src="../../../../assets/logo-contactos.svg" alt="logo contactos">

  <h2 class="form-login__title">Contactos</h2>
<div class="form-login__group">
   <input
   id="email"
   class="form-login__control"
   type="email"
   placeholder=""  >
   <label class="form-login__label" for="email">Email</label>
</div>
<div class="form-login__group">
  <input
  id="password"
  class="form-login__control"
  type="password"
  placeholder=""  >
  <label class="form-login__label" for="password">Password</label>
</div>


<input type="submit" class="form-login__submit" value="Entrar">
</form>