<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Telefono Fijo</th>
            <th>Movil</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Juanjo</td>
                <td>Ortiz</td>
                <td>jjortiz@gmail.com</td>
                <td>914303605</td>
                <td>636888796</td>
            </tr>
            </tbody>
            </table>

    </div>
</div>

